/* This is the base CSS for Snowmeister's Canvas Experiments - this SHOULD end up being pretty modular, but for now, all in one file! */
html {
    position: relative;
    min-height: 100%;
    margin-top:50px;
}
.jumbotron {
    background-color: #fff!important;
}
.code{
	display:block;
}

div.panel.closed div.panel-body{
  display:none;
}

button.off span.off{
  display: block;
}
button.off span.on{
  display: none;
}

button span.off{
  display: none;
}
button.on span.on{
  display: block;
}
.canvas{
  width:100% !important;
}

.panel-body > div > pre{
  height:300px!important;
  display: block;
}
.toplink{
  margin-right:4px;
}
